/***************************************************
	scss file: /assets/scss/theme/_product.scss
		+ Style for product in product page
****************************************************/
.ajax-loading{
	visibility:hidden;
}
.minner-sidebar{
	.widget{
		margin-bottom: 0px;
	}
	@media(max-width: $screen-sm-max){
		margin-top: 30px;
	}
}

.woocommerce{
	.entry-img {
		.mainimage-wrap{position: relative;}
		.sns-btn-popup{
			position: absolute;
			width: 40px; height: 40px; line-height: 40px; border: 1px solid $base-border-color;
			left: 20px; bottom: 20px;z-index: 9999; text-align: center; padding: 0 0;
			@include transition(all 0.2s ease 0s);
			@include border-radius(4px);
			background: url('../img/btn-popup.png') no-repeat left center;
			&:focus,
			&:hover{
				background: url('../img/btn-popup.png') no-repeat right center;
				border-color: $color1;
			}
		}
		.sns-btn-popupvideo{
			position: absolute;
			width: 40px; height: 40px; line-height: 40px; border: 1px solid $base-border-color;
			left: 20px; bottom: 70px;z-index: 9999; text-align: center; font-size: 16px; padding: 0 0;
			@include border-radius(4px);
			@include transition(all 0.2s ease 0s);
			background: url('../img/btn-popupvideo.png') no-repeat left center;
			&:focus,
			&:hover{
				background: url('../img/btn-popupvideo.png') no-repeat right center;
				 border-color: $color1;
			}
		}
		.inner {
			.owl-stage-outer{
				margin: 0;
				 border-right: none; overflow: hidden;
			}
			> span.onsale{
				z-index: 3;
			}
			
		}
		
	}

	.variations-product-wrap{
		.variable-item{
			display: inline-block;
			.option{
				height: 22px;
			    width: 22px;
			    margin-left: 6px;
			    padding: 3px;
			    border: 1px solid #ccc;
			    cursor: pointer;
			    display: inline-block;
			    vertical-align: top;
			    border-radius: 100%;
			    &:first-child{
			    	margin-left: 0;
			    }
			    span{
				    display: block;
				    text-align: center;
				    width: 14px;
				    height: 14px;

				    border-radius: 4px;
			    }

			    &.text{
					span{
						line-height: 14px; padding: 0 10px; background: #e1e1e1;
					}
				}
				&.color{
					 span{
					 	 border-radius: 100%;
					 }
				}
				&.image{
				    @include border-radius(5px);
				    width: 25px;
				    height: 28px;
				    line-height: 28px;
				    text-align: center;
				    margin-left: 3px;
				    border: 1px solid #fff;
				    margin: 0;
				    padding: 0;
					span{
					   background-size: cover;
					    width: 23px;
					    line-height: 26px;
					    height: 25px;
					}
					&:hover,&.active{
				    	border: 1px solid $color1;
				    }
				}
			    &:hover,&.active{
			    	border-color: $color1;
			    }
			}
		}
	}
	.yith-wcqv-wrapper{

		.primary_block{
			.product-type-external,
			.product-type-simple {
				.cart{
					float: none !important;
				}
				.description{padding-bottom: 10px;}
			}
			.product-type-variable,
			.product-type-grouped{
				.cart{
					padding: 0 0; border-top: none;
				}
			}
			
		}
	}
	.product-type-variable,
	.product-type-grouped{
		.primary_block{
			.cart{
				padding: 30px 0; border-top: none;
			}
		} 
	}
	.primary_block{
		background: #fff;
		margin: 0;
		@include border-radius(4px);
		padding: 30px 15px;
		@media (max-width: $screen-xs-max) {
			padding-left: 0;
			padding-right: 0;
		}
		.inner{
			position: relative;
			overflow: hidden;
			.onsale{
				position: absolute;
			    top: 20px;
			    color: #fff;
			    text-transform: uppercase;
			    text-align: center;
			    line-height: 25px;
			    height: 50px;
			    width: 50px;
			    z-index: 1;
			    background: #7ed250;
			    left: 20px;
			    @include border-radius(50%);
			    line-height: 52px;
			    -webkit-transform: rotate(0deg);
			    -moz-transform: rotate(0deg);
			    -ms-transform: rotate(0deg);
			    -o-transform: rotate(0deg);
			    transform: rotate(0deg);
			}
			
		}
		
		.entry-summary{
		//	padding-right: 0;
			padding-top: 30px;
			.item-slider-countdown{
				display: block;
				margin-bottom: 20px;
				overflow: hidden;
				p{
					color: #333;
				}
				.sns_sale_clock, .sns_sale_clock2{
					display: inline-block;
					position: relative;
					border: 2px solid #333;
					padding: 11px 20px 8px;
					letter-spacing: 2px;
					@include border-radius(4px);
					> div {
						display: inline-block;					
						text-align: center;
						font-size: 1em;
						line-height: 1;
						float: left;
						color: #333;
						> span{
							font-size: 2.3em;
							line-height: 1;
							color: #333;
							font-weight: bold !important;
						}
		
						&:last-child{
							width: 50px;
						}
					}
					&:after{
						display: table;
						content: '';
						clear: both;
					}
				}

				@media (max-width: $screen-sm-min){
					margin-bottom: 28px;
				}
			}
			.woocommerce-product-rating{
				margin-bottom: 0px;
				.star-rating{
					margin: 0 5px 0 0; 
					position: relative !important;
					float: none !important;
					left: 0;
				}
			}
			// Price
			.price{
				padding: 0px; 
				>  .amount{
					color: $color1;
				}
				 .amount{
					font-size: 1.857em;
					//font-weight: normal;
				}
				del{font-size: 1em;}
				del:before{
					height: 2px;
					top: 40%;
				}
			}
			// Short description
			.description{
				border-bottom: 1px solid $base-border-color;
				margin-bottom: 30px;
				padding-bottom: 14px;
				.description-title{
					color: #333;
					font-size: 1em;
					font-weight: bold;
					text-transform: uppercase;
				}
				@include clearfix();
			}
			// addthis_toolbox
			.addthis_toolbox{
				margin-top: 20px;
				padding-bottom: 25px;
				@include clearfix();
			}
			.compare,
			.yith-wcwl-add-to-wishlist{
				display: none;
			}
			
			// Form cart
			.cart{
				margin: 0;
				border-top: 1px solid $base-border-color; padding: 30px 0 10px;
				margin-bottom: 0px;

				label{
					float: left; margin: 0 10px 0 0; color: $text; line-height: 42px;
				}
				.quantity{
					@include quantity();
					margin-bottom: 20px;				
				}
				.single_add_to_cart_button{
					    position: relative;
					    text-transform: uppercase;
					  @include transition(all 0.5s ease);
					    height: 40px;
					    border-radius: 20px;
					    text-align: center;
					    line-height: 43px;
					    padding: 0 25px;
					    font-size: 0.923em;
					    white-space: nowrap;
					    display: inline-block;
					    background: #333;
					    border: none;
					    color: #fff;
					    margin-bottom: 10px;
					    margin-right: 18px;
					&.externalaffiliate-product{
						padding: 0px 35px 0px 35px;
					}

					&:hover{
						background-color: $color1;
					}
				}
				// Wishlist, compare
				@include compare();
				.compare{
					font-size: 100%;	
					&:before{						
						height: 40px;
					}				
					&.added{
						font-size: 100%;
						height: 40px;
						&:before{
							top: 4px;
						}							
					}
				}
				@include yith-wcwl-add-to-wishlist();
				.yith-wcwl-add-to-wishlist {
					position: relative;
					margin-left: 10px;
					display: inline-block;
					@media (min-width: $screen-lg-min){
					  margin-bottom: 13px;
					}
					
					@media (max-width: $screen-md-max) {
					   display: inline-block;
					   float: left;
					   margin-left: 0px;
					   margin-right: 10px;
					   clear: both;
					}
					 a{
						margin-left: 9px;
						font-size: 100%;
						width: 100%;
						@media (max-width: $screen-md-max) {
							display: block;
						   margin-left: 0px;
						}
						&:before{
							top: 4px;
						}
						 &:hover{
					    	color: $link-color;
					    }
						&:after{
							content: '';
							position: absolute;
							left: -8px;
							top: 14px;
							height: 13px;
							width: 1px;
							background: $base-border-color;
							@media (max-width: $screen-md-max) {
							   display: none;
							}
						}
					}
					.yith-wcwl-wishlistaddedbrowse,
					.yith-wcwl-wishlistexistsbrowse{
						a{
							&:before{
								top: 4px;
							}	
						}
					}	
					
					.feedback{display:none !important}
					.ajax-loading{						
						width: 100% !important; height: 100% !important;
						background: #FFF; opacity:0.6;
						&:before{
							position: absolute;
							left: 50%; margin-left: -12px; line-height:35px;
							color: rgba(0, 0, 0, 0.75);
						}
					}

				}
				.compare,
				.yith-wcwl-add-to-wishlist a{
					display: inline-block;
				    background: #fff;
				    border: none;
				    padding: 0;
				    text-align: center;
					color: $color;	
					float: left;
					line-height: 43px;
					position: relative;
					text-transform: uppercase;
					@include border-radius(0);
					height: 40px;
					padding-left: 32px;				
					.blockUI.blockOverlay{
						overflow: hidden; background: #FFF !important; opacity: 0.6;
						line-height: normal;
					}
				}
				@media (max-width: $screen-md-max) {	
					.compare{
						display: block;
						margin-bottom: 5px;
					}
				}
				.show{display: inline-block !important}
				.clear{display: none !important}
				

			}
		}
		.images{
			.quickview-image{
				display: block;
			}
			.woocommerce-main-image{display: block; border: none; padding: 0px; text-align: center;}
			.woocommerce-main-image { overflow: hidden; position: relative;
					.zoomWrapper{display: block; max-width: 100%;
						#sp_mainimage{
							top: 0;
							left: 0;
						}
					}
			}
			//.woocommerce-main-image{display: block; border: none;}
		}
		.sns-thumbnails{
			margin: 20px -4px 25px;
			 position: relative;
			 text-align: center;
			 .owl-carousel .owl-stage{
			 	display: inline-block;
			 }
			 @include navslider();
			.navslider{
				position: absolute;
				display: inline-block;
				z-index: 2;
				background: transparent;
				margin: 0;
				padding: 0;
				top: 50%;
				left: 0;
				margin-top: -15px;
				width: 100%;
				.prev,
				.next{
					width: 30px;
					height: 30px;
					text-align: center;
					background: rgba(0,0,0,0.2);//#f2f2f2;
					@include transition(all 0.4s ease 0s);
					&:hover{
						cursor: pointer;
						background: #333;
					}
					&:before{
						@include square(30px);
					}
					
				}

				.prev{
					position: absolute;
					left: -20%;
					opacity: 0;
				}
				.next{
					position: absolute;
					right: -20%;
					opacity: 0;
				}
			}
			&:hover{
				.navslider{
					.prev,.next{
						opacity: 1;
					}
					.prev{
						left: 5px;
					}
					.next{
						right: 5px;
					}

					@media(max-width: $screen-sm-max){
						.prev{
							left: 5px;
						}
						.next{
							right: 5px;
						}
					}
				}
			}

			.thumbnails{
				a{
					margin: 0 6px 0 5px; overflow: hidden; display: block;
					position: relative;
					max-width: 107px;
					max-height: 151px;

					border: 1px solid $base-border-color;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 2px solid $color1;
						@include opacity(0);
						z-index: 9;
						@include transition(all 0.4s ease);
					}
					@include border-radius(4px);
					&.active,&:hover{
						border: none;
						&:before{
							@include opacity(1);
						}
					}
					 img{
					 	width: auto;
					 	@include border-radius(4px);	
					}
				}
			}
		}
		
		.show{display: inline-block !important}
		.clear{display: none !important}
		//Meta
		.product_meta{
			@include clearfix();
			border-top: 1px solid $base-border-color;
			 padding: 25px 0;
			.sku_wrapper,
			.tagged_as,
			.posted_in{
				@include clearfix();
				font-weight: bold; color: #666;
				> *{font-weight: normal; color:$color;}
				a{
					&:hover{
						color: $link-color;
					}
				}
			}
		}
		// Product sidebar
		.widget{
			.widget-title {
				font-size: 180%;
			}
			ul.shop-policy {
				margin: 0 0;
				color: inherit;
				li {
					position: relative;
					min-height: 60px;
					padding-left: 60px;
					padding-top: 10px;
					@include transition(all 0.25s ease);
					&:hover {
						color: $color1;
						.fa {
							color: $white;
							background: $color1;
							border-color: $color1;
						}
					}
				}
				.fa {
					color: inherit;
					border: 1px solid;
					border-color: $base-border-color;
					@include square(48px);
					border-radius: 50%;
					line-height: 46px;
					font-size: 20px;
					text-align: center;
					position: absolute;
					top: 50%;
					margin-top: -24px;
					left: 0;
					padding-left: 5px;
					@include transition(all 0.25s ease);
				}
			}
		}
	}
	// .sns-quick-view{
	// 	.imgs-quick{position: relative;margin: 0 0;
	// 		.images{
	// 			span.quickview-image{margin: 0 0;}
	// 		}
	// 	}
	// 	.summary{
	// 		.inner{
	// 			padding-left: 10px; padding-right: 10px;
	// 		}
	// 	}
	// }
	.sns-quick-view{
		@include navslider();
		&:hover .navslider{
			 .prev{
			 	left: 0px;
			 }
			 .next{
			 	right: 0px;
			 }

		}
	}
}

// product tab
#sns_tab_products {
	margin: 35px 0px 0px 0;
	ul.nav-tabs {
		@include clearfix();
		@include ulclear();
		position: relative; 
		z-index: 1;
		//border-bottom:none;
		border-bottom: 1px solid $base-border-color;
		> li {
			display: block;
			margin: 0;
			float: left;
			margin-bottom: -1px;
			height: 50px;
			&:first-child, &.tabdrop + li {
				> a {
					border-width: 1px;
				}
			}
			&.active, &:hover{
				> a {
					color: $link-color;
					&:before{
						 bottom: -3px;
						@include opacity(1);
						visibility: visible;
					}
				}

			}
			&.tabdrop {
				> a {
					font-size: 20px;
					i{
						padding-left: 10px;
					}
				}
			}
			> a {
				color: $text;
				text-transform: uppercase;
				font-weight: bold;
				@include transition(all 0.2s ease-out);
				position: relative; 
				font-size: 1.538em;
				line-height: 48px;
				background: none;
				border: none;
				@include inline-block();
				position: relative;
				padding: 0;
				border-width: 1px;
				margin: 0 ;
				border-radius: 0;
				margin-right: 50px;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					bottom: 7px;
					width: 100%;
					height: 5px;
					background: $color1;
					@include opacity(0);
					visibility: hidden;
					@include transition(all 0.4s ease);

				}
			}
		}
		.dropdown{
			cursor: pointer;
			a{ margin: 0 0; cursor: pointer;}
			ul.dropdown-menu{
				padding: 0 0;
			}
		}
	}
	.tab-content {
	    border: none;
	    padding: 32px 0 46px;
	    position: relative;
	    margin: 0;
	    overflow: hidden;
		h2, h3, h4 {
			text-transform: uppercase;
			margin-top: 0;
			font-weight: normal;
		}
		h2{
			font-size: 130%;
		}
		h3 {
			font-size: 120%;
		}
		h4 {
			font-size: 100%;
		}
		#tab-description{
			p{
				margin: 0 0 18px;
				&:last-child{
					margin: 0;
				}
			}

			> ul{
				list-style: none;
				padding-left: 0;
				> li{
					position: relative;
					padding-left: 20px;
					&:before{
						position: absolute;
						content: '';
						display: inline-block;
						vertical-align: top;
						top: 3px;
						left: 4px;
						color: $color;
						font-size: 1em;
						@include font-elegant(45, 13px);
					}
				}
			}
		}
		#reviews{
			h2{
				margin-bottom: 20px;
			}
			h3{
				margin-bottom: 10px;
			}
		}
	}
	#tab-sns_prod_custom_tab{
		.widget-title{
			padding:0;
			&:after,&:before{
				display:none;
			}
		}
	}
	
}

//.sns-featured-categories,
.sns-products,
.cross-sells,
.related,
.upsells.products {
	position: relative;
	@include clearfix();
	clear: both;
	margin: 0 -15px;
	@include navslider();
	.navslider{
		top: 57%;
	}
	.sns_products_heading{
		@include clearfix();
		display: block;
		margin: 0 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid $base-border-color;
		
	}	
	h2{
		display: inline-block;
		//text-align: center; 
		font-size: 1.583em; 
		text-transform: uppercase; 
		margin: 0;
		//padding: 0 15px;
		font-weight: bold;
    	margin-bottom: 0px;
    	position: relative;
    	padding-bottom: 17px;
    	&:before{
    		content: "";
    		width: 110px;
    		height: 5px;
    		bottom: -3px;
    		left: 0px;
    		position: absolute;
    		background: $color1;
    	}
		span{position: relative; display: inline-block; padding: 0; margin: 0;
		}
		span.title2{
			color: $color1;
		}
		@media(max-width: $screen-xs-max){
			font-size: 1.3em;
		}
	}
	
	.pretext{
		width: 70%; margin: 6px auto 20px;
		@include center-block();
		text-align: center;
		@media (max-width: $screen-sm-max) {width: 90%}
	}
	ul.products,
	ul {

		@include ulclear();
		float: none;
		.owl-stage-outer{
			padding: 10px 0;
		}
		li{padding: 0 15px; float: left}
		.owl-item{
			li{
				float: none;
			}
		}
	}
}

.cross-sells{
	// margin-top: 20px;
	h2{
		font-size: 150%;
	}
}

.related{
	.navslider .next{
		margin-left: -2px;
	}
}
.sns-left,.sns-right{
	.upsells.products{
		margin: 0;
		.sns_products_heading{
			margin-left: 0;
			margin-right: 0;
		}
		.sns-products{
			margin: 0 -5px;
		}		
	}
}

.sns-product-tabs{
	position: relative;
	.sns-nav-tabs-warpper{
		position: relative;
		//margin-bottom: 13px;
		@include navslider();
		@include clearfix();
		@media (max-width: $screen-sm-max){
			.navslider{
				display: none !important;
			}
		}
		&:hover{
			.navslider{
				
				.prev{
					left: 10px;
				}
				.next{
					right: 10px;
				}
			}
		}
		&.center{
			text-align: center;		
		}
		&.right{
			text-align: right;		
		}
		&.left{
			text-align: left;
			//margin-bottom: 20px;	
			.wpb_heading{
				position: relative;
				display: block;
				font-size: 1.54em;
				font-weight: bold;
				text-align: left;
				margin-bottom: 13px;

				@media (max-width: $screen-sm-max){
					font-size: 1.4em;
				}
			}	
		}
	}
	.nav-tabs{
		@include clearfix();
		@include ulclear();
		position: relative;
		margin-bottom: 20px;
		 li {
			cursor: pointer;
			position: relative;
			display: inline-block;
			line-height: 1;
			margin: 0;
			margin: 0 30px;
			padding: 0;
			@include transition(all 0.2s ease-out 0s);
			float:none;

			&:before{
				content: "";
				width: 100%;
				height: 5px;
				background: $color1;
				position: absolute;
				bottom: 7px;
				left: 0;
				@include opacity(0);
				@include transition(all 0.4s ease);
			}
			@media (max-width: $screen-md-max) {
				margin: 0 15px;
			}
			> a {
				font-size: 1.54em;
				font-weight: bold;
				border: none;
				background: none;
				margin: 0 0;
				display: inline-block;
			    position: relative;
			    color: $text;
			    padding-bottom:14px; line-height: 1;
			    text-transform: uppercase;
			    @include transition(all 0s);
				
				img{
					max-width: 152px;
					max-height: 125px;
				}
				@media (max-width: $screen-md-max) {
					font-size: 1.385em;
				}
			}
			&.active,&:hover{		
				a{
					background: none;
					color: $link-color; border:none;
					//font-weight: bold;
					z-index: 1;
				}
				&:before{				
					bottom: -3px;
					@include opacity(1);
				}
			}
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		
		}
		//Shortcode product tabs with thumbnail
		&.sns-tab-cat-thumbnails{
			border-bottom: none;
			margin-bottom: 0;
			position: relative;
			// .owl-stage-outer{	
			// 	&:before{
			// 		content: "";
			// 		width: 1px;
			// 		height: calc(100% - 20px);
			// 		position: absolute;
			// 		left: 0;
			// 		top: 0;
			// 		z-index: 9;
			// 		background: red;
			// 	}
			// }
			li{
				//border-right: 1px solid $base-border-color;
				border: 1px solid $base-border-color;
				width: 100%;
				margin: 0;
				padding: 10px 14px 0;
				margin-bottom: 20px;
				background: #fff;
			//	height: 185px;
				float: left;
				
				&:not(.first){
					border-left: none;
				}
				&:before{
				    @include transition(all 0s ease); 
				}
				> a{
					text-align: center;
					padding-bottom: 5px;
					div{
						display: block !important;
						text-align: center;
						font-size: 13px;
						text-transform: none;
						color: $link-color;
						font-weight: normal;
						position: relative;
						padding-bottom: 2px;
					    display: inline-block;
					    line-height: 1.5;
					    height: 40px;
						overflow: hidden;
					}
					img{
						margin-bottom: 10px;
					}
				}
				&.first{
					> a{
						div{
						    height: 41px;
						}
					}
				}
				&:hover,&.active{
					&:before{
						content: "";
						width: 100%;
						height: 100%;
						border: 1px solid $color1;
						background: none;
						position: absolute;
						bottom: 0px;
						left: 0;
					}
					&:after{
						content: "";
						position: absolute;
						bottom: -5px;
						left: 50%;
						margin-left: -3px;
						width:0px;
						height:0px;
					 	border-left:5px solid transparent;
						border-right:5px solid transparent;
					 	border-top:5px solid $color1; /* Tam giác phía trên được đổ màu */
					}
				}
			}
		}
		@media (max-width: $screen-sm-max) {
			display: none !important;
		}
	}
	.tab_dropdown{
		display: none !important;
		@include ulclear();
		@media (max-width: $screen-sm-max) {
			display: block !important;
			z-index: 1;
			.tabdrop{		
				margin-bottom: 10px;
				> a{
					font-size: 25px;
					display: inline-block;
					line-height: 1;
					color: $color;
					width: 40px;
					height: 30px;
					background: url('../img/menu.png') no-repeat left center;
					&:hover{
						background: url('../img/menu.png') no-repeat center center;
					}				
				}				
				ul.dropdown-menu{

					li{
						padding: 0 0; display: block; float: none;
						a{
							display: block; padding: 3px 15px;
						}
					}
				}
			}
			.open{
				> a{
					background: url('../img/menu.png') no-repeat center center;
				}
			}
		}
	}
	.pretext{
		@include clearfix(); margin: 10px auto 0;
	}
	.tab-content {
		position: relative;
		&.tab-loading{
			&:after{
				position: absolute;
				top: 50%;
				left: 50%;
				line-height: normal;
			    -webkit-animation: spin 1s ease-in-out infinite;
			    -moz-animation: spin 1s ease-in-out infinite;
			    -o-animation: spin 1s ease-in-out infinite;
			    animation: spin 1s ease-in-out infinite;
			    font-family: FontAwesome;
			    font-size: 35px;
			    content: "\f110";
			    margin-top:-20px;
			    text-align: center;
			    width: 40px;
			    height: 40px;
			    border: 3px solid transparent;
			    color: rgba(0, 0, 0, 0.75);
			}
		}
	}

	&.template-carousel{

		&.pre-load{
			.tab-pan{height: 0px; overflow: hidden;}
		}

		.tab-content {
			position: relative;
			z-index: 0;
			@include navslider();
		}
	}
	&.template-grid{
		.product_list li{
			padding: 10px 5px 0;
			.block-product-inner{
				margin-bottom: 0px;
			}
		}
		.tab-content{
			margin: 0 -5px;
		}
	}
	.product_list {
		li{
			margin-top: 0px;
			padding: 10px 15px 0;
			.block-product-inner{
				margin-bottom: 30px;
			}
		}
	}
	.tab-content{
		margin: 0 -15px;
	}
	&.hidde_item_box{
		.product_list.grid .block-product-inner .item-info{
			height: 80px;
		}

		.item-box-hover{
			display: none;
		}
	}
}


.sns-products{
	.sns_products_heading{
		text-align: center;
		border: none;
		margin-bottom: 30px;
		.prefix{
			margin-bottom:15px;
		}
	}
	h2{
		display: inline-block;
		text-align: center; 
		font-size: 2em; 
		@media (max-width: $screen-xs-max){
			font-size: 1.538em; 
		}
    	&:before{
    		left: 50%;
    		margin-left: -50px;
    	}
	}
	.product_list.grid{
		.block-product-inner{
			.item-img{
				.item-box-countdown{
					border: 2px solid #333;
					padding: 11px 10px 8px;
					position: absolute;
					top: 50%;
					margin-top: -25px;
					width: 100%;
					background: #fff;
					text-align: center;
					@include border-radius(4px);
					@include transition(all 0.4s ease);
					> div {
						display: inline-block;					
						text-align: center;
						font-size: 0.9em;
						line-height: 1;
						//float: left;
						color: #333;
						> span{
							font-size: 2em;
							line-height: 1;
							color: #333;
							font-weight: bold !important;
						}
						@media (max-width: $screen-sm-min){
							margin-right: 10px;
							margin-left: 10px;
							width: 50px;
							height: 50px;
							font-size: 0.8em;
							> span{
								font-size: 1.143em;
							}
						}
						
					}
					.box-countdown-second{
						width: 48px;
					}
					&:after{
						display: table;
						content: '';
						clear: both;
					}
				}
				.item-box-countdown + .item-box-hover{
					@include transition(all 0.5s ease);
				}
			}

			&:hover{
				.item-img{
					.item-box-countdown{
						top: 60%;
						@include opacity(0);
						visibility: hidden;
					}
				}
			}
		} 
	} 


	//&:not(.sns-products-list){margin-bottom: -20px !important;}
	&.sns-products-style-two,&.sns-products-list{
		padding: 0 !important;
		//margin: 0;
		.navslider{
			display: none !important;
		}
		.products, .widget_products{
			margin: 0;
			padding: 0;
			position: static;
			li{
				padding: 0 10px;
			}
			.item_product{
				position: relative;
				padding: 0;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				 .item-info .item-info-right .info-inner{
				 	padding-bottom: 0;
				 }
				}
				.block-product-inner{
					&:hover{
						box-shadow: none;
						@include border-radius(0);
					}
					 .item-inner{
						background: none !important;
						padding: 0 !important;
						
					}
				}
				.item-info{
					position: relative;
					display: block;
					@include clearfix();
					height: 100%;					
					text-align: left;
					padding: 5px;
					.item-img-info-left{
							width: 33%;
							float: left;
							.yith-wcqv-button{
								display: none;
							}
							a.product-image{
								position: relative; display: inline-block; max-width: 100%; overflow: hidden; vertical-align: top;
							    @include transition(all 0.35s ease 0s);
							    @include border-radius(4px);  
							}
						    .onsale{
						    	display: none;
						    }

						    @media(max-width: $screen-sm-max){
						    position:relative;
						    over-follow:hidden;
								&:before{
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									opacity: 0;
									content: "";
									background: transparent;
									z-index: 1;
								}
								&:hover{
									cursor: inherit;
								}
							}
					}
					.item-info-right{
						width: 60%;
						float: left;
						padding-left: 10px;
						.info-inner{						
							background: none;
							padding-bottom: 5px;
							.item-title{
							    max-height: 85px !important;
							    .star-rating{
							    	display: none;
							    }
							}
							.item-content{
								padding:0;
								.price{
									float: none;
									padding: 0;
									ins{
										margin-left: 0;
										text-decoration: none;
									}
									> span, .amount{
										font-weight: inherit;
									}
								}
								.star-rating{
									display: none;
								}
								.onsale{
									display: none;
								}
					
							}

						}
						.cart-wrap{
							display: none;
							line-height: 1;
							.add_to_cart_button{
							text-transform: uppercase !important;
								&.added{
									&:after{ display:none;}
									}
							}
							.added_to_cart{
								display: none;
							}
						}
					}
					 &:hover{
					 	.item-img-info-left{
							a.product-image{
								box-shadow: 0 0 10px rgba(0,0,0,0.2);
							}
						}
				    }
				}
			}
		}
	}
	 &.sns-products-list{
	 	margin: 0;
		  .products .item_product .item-info .item-info-right .info-inner{
		 	.item-title{
		 		margin-bottom: 0px;
		 		margin-top: 10px;
			
		 	}
			  .item-content .star-rating{
			 	display: block;
			 }
		}
		.sns_products_heading{
			margin-left: 0;
    		margin-right: 0;
    		text-align: left;
    		display: block;
		    border-bottom: 1px solid $base-border-color;
    		h2{
    			display: inline-block;
			    text-align: center;
			    font-size: 1.583em;
			    text-transform: uppercase;
			    margin: 0;
			    font-weight: bold;
			    margin-bottom: 0px;
			    position: relative;
			    padding-bottom: 17px;
			    &:before{
		    	    content: "";
				    width: 110px;
				    height: 5px;
				    bottom: -3px;
				    left: 0px;
				    position: absolute;
				    background: $color1;
				    margin: 0;
			    }
			    span{
			    	position: relative;
				    display: inline-block;
				    padding: 0;
				    margin: 0;
			    }
    		}
		}
	}
}
.sns_tab_products_block{
	//overflow: hidden;
	.related.products,.upsells.products,.cross-sells{
		margin-bottom: 40px;
		ul.products{
			.block-product-inner {
				.item-info{
					.info-inner{
						//padding-bottom: 0px;
					}
				}
			}
		}
	}
	
	&.col-lg-12{
		.entry-img{
			.sns-btn-popupvideo{
				 left: 70px;
   				 bottom: 10px;
			}
			.images {
			    .quickview-image {
			        display: block;
			    }
			    .mainimage-wrap{
			    	width: calc(100% - 90px);
			    	float: right;
			        display: block;
			        position: relative;
			        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					      width: calc(100% - 70px);
					    }
				    @media (max-width: 480px) {
				      width: calc(100% - 70px);
				    }
			    }
			}
			.inner .onsale{
				left: 110px;
			}
			.sns-thumbnails {
				margin: 0;
			    position: relative;
			    float: left;
			    position: relative;
			  //  padding-top: 30px;
			   // padding-left: 30px;
			    .thumbnails {
			        a {
					    text-align: center;
					    padding-left: 0;
					    padding-right: 0px;
					    margin-right: 10px;
					    margin-left: 0px;
					    display: block;
					  	margin-bottom: 10px;	
					    overflow: hidden;
					    position: relative;
					    @include border-radius(4px);
					    text-align: center;
					    transition: all 0.3s ease-in 0s;
						display: none;
						max-width: 64px;
						@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					      max-width: 60px;
					    }
					    @media (max-width: 480px) {
					      max-width: 60px;
					    }
						img {
					    	width: 100%;
					    }
					    &:nth-child(1),  &:nth-child(2),  &:nth-child(3) ,&:nth-child(4),&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
							display: block;
					    }
			        }
			    }
			    .navslider{
			    	display: none;
			    }
			}
		}
	}
}

.top-hr{
	background: $top-line-color;
	height: 5px;
	margin: 2px 0 31px;
}
.product-heading-h5{
	color: $gray-light;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
#productscategory_list .product-name,
.accessories-block .product-name{
	margin-bottom: 5px;
	a{
		font-size: 15px;
		line-height: 18px;
		color: $product-name-color;
		&:hover{
			color: $product-name-hover-color;
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}

.yith-wcwl-share{
	margin: 0 0 10px;
}
.reset_variations{
	margin: 0 0 0 5px;
}

// Add effec load more for SNS Product Tabs
.sns-woo-loadmore-wrap{
	text-align: center; margin: 0px;
	margin-top: 20px;
	.sns-woo-loadmore{
		height: 41px; font-size: 1em; line-height: 40px; padding: 0px 38px;
		border: 1px solid #e8e8e8; color: #7f7f7f;
		border-radius:0;
		&.loaded{
			border-color: $button-hover-bg; background-color: $button-hover-bg; color: #FFF; cursor: text;
		}
		&:hover{
			background-color: $button-hover-bg;
			color: #ffffff;
		}
	}
}
.item-animate {
    @include opacity(0);
    position: relative;
}
.play {
    .item-animate {
        @include opacity(1);
        @include animation-play-state(running);
    }
}
.slideBottom.play .item-animate { @include animation(slideBottom 600ms ease both); }
.slideLeft.play .item-animate { @include animation(slideLeft 600ms ease both); }
.slideRight.play .item-animate { @include animation(slideRight 600ms ease both); }
.bounceIn.play .item-animate { @include animation(bounceIn 600ms ease both); }
.bounceInRight.play .item-animate { @include animation(bounceInRight 600ms ease both); }
.zoomIn.play .item-animate { @include animation(zoomIn 600ms ease both); }
.zoomOut.play .item-animate { @include animation(zoomOut 600ms ease both); }
.pageRight.play .item-animate { @include animation(pageRight 600ms ease both); }
.pageLeft.play .item-animate { @include animation(pageLeft 600ms ease both); }
.pageTop.play .item-animate { @include animation(pageTop 600ms ease both); }
.pageBottom.play .item-animate { @include animation(pageBottom 600ms ease both); }
.starwars.play .item-animate { 
	@include animation(starwars 600ms ease-out both); 
	@include transform-origin(50% 50%);
}

.woocommerce{
	.type-product.product-type-variable{
		form.cart.variations_form{
			table.variations{
				border: none;
				td.label{
					padding: 0 0; text-align: left; border: none; width: 60px;
					label{
						font-weight: bold;
					}
				}
				td.value{
					padding: 0 0; border: none;
					.sellect-wrap{
						display: inline-block;
					}
					.option{
						height: 36px; margin-right: 5px; border: 1px solid #ccc; cursor: pointer; display: inline-block;
						span{
							margin: 2px; display: inline-block; text-align: center; height: 30px;
						}
						&.text{
							span{
								line-height: 30px; padding: 0 10px; background: #e1e1e1;
							}
						}
						&.color{
							width: 36px;
							span{
								width: 30px;
							}
						}
						&.image{
							width: 36px;
							span{
								background-size: cover; width: 30px;
							}
						}
						&.selected{
							border-color: $color1; 
						}
					}
					a.reset_variations{
						
					}
				}
			}
		}
	}
}

 .sns-category{
	position: relative;

	&.left{
		text-align: left;
		.category_content{	
		    right: 0px;
			padding-left: 30px;
			padding-right: 100px;
			@include transition(all 1s ease);
	   		//transform: translatex(500px);
	   		@media (max-width: $screen-md-max) {
				padding-right: 30px;
			}

		}
		.cat_image{
			@include transition(all 1s ease);
		    transform: translatex(-500px);
		}
		&.active{
			.cat_image{
				transform: translatex(0px);

			}
		}
	}
	&.right{
		text-align: right;
		.category_content{	
			left: 0px;
			padding-left: 70px;
			padding-right: 100px;
			@include transition(all 1s ease);
			@media (max-width: $screen-md-max) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.cat_image{
			@include transition(all 1s ease);
		    transform: translatex(500px);
		}
		&.active{
			.cat_image{
				transform: translatex(0px);
			}
		}
	}
	
	.category_content{	
	    text-align: left;
	    width: 50%;
	    position: absolute;
	    top: 0;
	    z-index: 1;
	    padding-top: 180px;
	    padding-bottom: 30px;

		h2{			
			a{
				color: #333;
				font-size: 70px;
				line-height: 1;
				font-weight: bold;
				margin-bottom: 20px;
				text-transform: none;
				&:hover{
					color: $color1;
				}
			}
		}
		.content{
			margin-bottom: 35px;	
			font-size: 16px;
			color: $text;
			line-height: 30px;	
		}
		.img{
			margin-right: 20px;
			margin-bottom: 50px;
			display: inline-block;
			&:hover{
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			}
		}
		.link{
			display: block;
			a{
				//text-decoration: underline;
				text-transform: uppercase;
				color: $text;
				font-weight: bold;
				position: relative;
				@include transition(all 0.4s ease);
				&:before{
					content: "";
					background: #c1c1c1;
					height: 1px;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;

				}
				&:after{
						content: "";
						background: $color1;
						height: 1px;
						width: 0%;
						position: absolute;
						left: 0;
						bottom: 0;
						@include transition(all 0.4s ease);
					}
				&:hover,&:focus{
					color: $color1;
					&:after{
						width: 100%;	
					}
				}
			}
		}
		 @media (max-width: $screen-md-max) {
			 width: 100%;
			 position: relative;
			 padding-top: 30px;
			
			 h2{			
				a{
					font-size: 50px;
				}
			}
	   }
	    @media (max-width: $screen-sm-max) {
			 h2{			
				a{
					font-size: 40px;
				}
			}
			.img{
				max-width: 80px;
				margin-bottom: 20px;
				height: auto;
			}
	   }
	    @media (max-width: $screen-xs-max) {
			 h2{			
				a{
					font-size: 30px;
				}
			}
			
	   }
	}
}
